## agent
export MANAGER_IP=
export MANAGER_PORT=
export CACERT=

## manager
# gunicorn server
export MANAGER_LISTEN_IP=
export DAEMON=
export SSL_CERTIFICATE=
export SSL_KEYFILE=
export EXTRA_GUNICORN_ARGS="--reload"
export SIMPLE_PING_KEY=eced5ae2e86b2a21b233a3a1d7e11992f7a4f3eb75cf8de3af8f25d026753d34
