## agent
export MANAGER_IP=
export MANAGER_PORT=
export CACERT=
export SIMPLE_PING_KEY=

## manager
# gunicorn server
export MANAGER_LISTEN_IP=
export DAEMON=
export SSL_CERTIFICATE=
export SSL_KEYFILE=
export EXTRA_GUNICORN_ARGS="--reload"
export CAPTURE_OUTPUT=false
export KEY_AUTH=false


